<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0; /* Added to remove default body margin */
    }
    nav {
        background-color: #2a284c;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        margin-top: auto;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }
    .container {
        margin-top: 60px;
    }
    /* Added background image */
    .background-image {
        background-image: url('1.jpg');
        background-size: cover; /* Adjusts the size of the background image to cover the entire element */
        background-position: center; /* Centers the background image */
        height: 800px;
        
    }
    .btn {
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: #de3232;
        min-width: 200px;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        padding: 16px 20px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
        }

        .btn:hover {
        opacity: .95;
        }

        .btn .animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
        }

        @keyframes ripple {
        0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
        }

        100% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
        }
        }
    </style>
</head>
<body>
    <nav >
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Track Shipment</a></li>
            <li><a href="viewdelivery">View deliveries</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="background-image">


        <div style="margin-left: 900px; margin-top: 300px;"><a href="/adddelivery" class="btn"><i class="animation"></i>Add Delivery Now<i class="animation"></i>
        </a></div>
    
    </div>
    <div>
        <img src="2.jpg">
    </div>
</body>
</html>
