<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0; /* Added to remove default body margin */
    }
    nav {
        background-color: #2a284c;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
        margin-top: auto;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    nav ul li a:hover {
        text-decoration: underline;
    }
    .container {
        margin-top: 60px;
    }
    /* Added background image */
    .background-image {
        background-image: url('1.jpg');
        background-size: cover; /* Adjusts the size of the background image to cover the entire element */
        background-position: center; /* Centers the background image */
         /* Adjust as needed */
    }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Track Shipment</a></li>
            <li><a href="viewdelivery">View deliveries</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="background-image" style="height: 1000px;"> <!-- Added class to apply background image -->
        <br>
        <a href="/adddelivery" class="btn btn-outline-success" id="addDeliveryBtn">Add Delivery</a>
    </div>
</body>
</html>
